@charset "UTF-8";
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.main-container {
  margin-left: 100px;
  margin-right: 100px;
}

.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  height: 313px;
  margin: 43px 0px 0px 0px;
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
}
.photograph-header .display {
  position: fixed;
  width: 376px;
  height: 70px;
  bottom: 0;
  left: 50%;
  transform: translateX(calc(680px - 100%));
  border-radius: 5px 5px 0px 0px;
  background-color: #DB8876;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.photograph-header .display__like {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.photograph-header .display__like-total {
  font-size: 24px;
  font-weight: 500;
}
.photograph-header .display__like-icon {
  font-size: 30px;
}
.photograph-header .display__priceday {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.photograph-header .photograph-info__name {
  font-size: 64px;
  font-weight: 400;
  color: #D3573C;
  margin: 0;
}
.photograph-header .photograph-info__location {
  font-size: 24px;
  font-weight: 400;
  color: #901C1C;
  margin: 0;
}
.photograph-header .photograph-info__tagline {
  font-size: 18px;
  font-weight: 400;
  color: #525252;
  margin: 0px;
  margin-top: 9px;
}
.photograph-header .photograph-info__contactbtn {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 35px;
  margin-left: -70px;
}
.photograph-header .photograph-info__contactbtn:hover {
  background-color: #DB8876;
}
.photograph-header .photograph-info__picture {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover; /* remplit le cadre sans déformer */
  -o-object-position: center;
     object-position: center;
  border-radius: 200px;
  border: 2px solid green;
}

.contact_button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  background-color: #DB8876;
}

.mediasort {
  display: flex;
  flex-direction: row;
  gap: 22px;
  position: relative;
  margin-top: 20px;
  z-index: 10;
  /* === Menu fermé : ne montrer que l’active, sans trait === */
  /* === Menu ouvert : tout afficher + traits === */
}
.mediasort__title {
  height: 69px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.mediasort__btn {
  position: absolute;
  left: 224px;
  top: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: #901C1C;
  border: 0;
  cursor: pointer;
}
.mediasort__btn i {
  position: absolute;
  font-size: 20px;
  color: white;
  background-color: #901C1C;
}
.mediasort__btn .fa-chevron-down {
  opacity: 1;
}
.mediasort__btn .fa-chevron-up {
  opacity: 0;
}
.mediasort__btn.is-open .fa-chevron-down {
  opacity: 0;
}
.mediasort__btn.is-open .fa-chevron-up {
  opacity: 1;
}
.mediasort:not(.is-open) .sort__option {
  display: none;
}
.mediasort:not(.is-open) .sort__option.active {
  display: block;
  border-radius: 5px;
}
.mediasort:not(.is-open) .sort__option::after {
  content: none;
}
.mediasort.is-open .sort__option {
  display: block;
  border-radius: 0;
}
.mediasort.is-open .sort__option:first-child {
  border-radius: 5px 5px 0 0;
}
.mediasort.is-open .sort__option:last-child {
  border-radius: 0 0 5px 5px;
}
.mediasort.is-open .sort__popularity::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 10px;
  width: 150px;
  height: 1px;
  background-color: #FFFFFF;
}
.mediasort.is-open .sort__date::after {
  content: "";
  position: absolute;
  top: 62px;
  left: 10px;
  width: 150px;
  height: 1px;
  background-color: #FFFFFF;
}
.mediasort.is-open .sort__option:last-child::after {
  content: none;
}

.sort {
  position: absolute;
  top: 0;
  left: 96px;
  z-index: 5;
  font-size: 18px;
  line-height: 69px;
}
.sort__option {
  position: relative;
  cursor: pointer;
  background-color: #901C1C;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 170px;
  height: 69px;
  border-radius: 0;
  text-indent: 20px;
}

/* État initial si besoin */
.sort__popularity {
  display: block;
}

.sort__date, .sort__title {
  display: none;
}

#contact_modal {
  display: none;
  position: fixed;
  top: 62px;
  left: 385px;
  width: 669px;
  height: 900px;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #DB8876;
  box-shadow: -5px 10px 30px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 35px;
}
.modal .modalheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.modal .modalheader__title {
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}
.modal .modalheader__close {
  cursor: pointer;
}
.modal__photographname {
  font-size: 64px;
  font-weight: 400;
  margin: 0;
  text-align: left;
}

form textarea {
  width: 100%;
  height: 170px;
  font-size: 36px;
  font-weight: 400;
  border-radius: 5px;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form input {
  width: 100%;
  height: 68px;
  font-size: 36px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

/* Gestion des erreurs de saisie*/
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 20px;
  font-weight: bold;
  color: red;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible=true]::after {
  opacity: 1;
}

.formData[data-error-visible=true] .text-control {
  border: 2px solid #e54858;
}

.no-scroll {
  overflow: hidden;
}

.media-photographer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 0px 0px 0px;
  gap: 10px 93px;
  min-width: 0;
}
.media-photographer .mediascard {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  overflow: hidden;
  min-width: 0;
}
.media-photographer .mediascard__link__image {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.media-photographer .mediascard__link__video {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.media-photographer .mediascard .mediascardcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 10px;
}
.media-photographer .mediascard .mediascardcontent__description {
  font-size: 24px;
  font-weight: 400;
  color: #901C1C;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.media-photographer .mediascard .mediascardcontent__like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  position: relative;
}
.media-photographer .mediascard .mediascardcontent__like-nblike {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  color: #901C1C;
  margin: 0;
}
.media-photographer .mediascard .mediascardcontent__like-btn {
  display: inline-grid;
  place-items: center;
  width: 24px;
  height: 24px;
  position: relative;
}
.media-photographer .mediascard .mediascardcontent__like-btn i {
  grid-area: 1/1;
  font-size: 22px;
  color: #901C1C;
}
.media-photographer .mediascard .mediascardcontent__like .fa-regular {
  opacity: 1;
}
.media-photographer .mediascard .mediascardcontent__like .fa-solid {
  opacity: 1;
}

.fa-regular.is-hidden {
  display: none;
}

.fa-solid.is-hidden {
  display: none;
}

.lightbox {
  display: none;
  position: fixed;
  background-color: white;
  width: 1440px;
  height: 1024px;
  inset: 0;
  margin: 0;
  padding-top: 1px;
  z-index: 120;
}
.lightbox__close {
  position: absolute;
  top: 77px;
  right: 126px;
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #901C1C;
  transition: color 0.3s ease;
}
.lightbox .light-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 62px 99px 10px 99px;
}
.lightbox .light-content__slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
}
.lightbox .light-content__slide__photo {
  width: 1050px;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover; /* remplit le cadre sans déformer */
  -o-object-position: center center;
     object-position: center center;
}
.lightbox .light-content__slide__video {
  width: 1050px;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.lightbox .light-content__slide__title {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  color: #901C1C;
}

/* Next & previous buttons */
.light-content-previous,
.light-content-next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 96px;
  background-color: #FFFFFF;
  border: 0;
  color: #901C1C;
  font-weight: 400;
  font-size: 48px;
  transition: 0.6s ease;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}