@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    margin-top: 44px;
}

.logo {
    height: 50px;
    margin-left: 100px;
    margin-top: 42px;
}

.photographer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 112px;
    margin-bottom: 120px;
    margin-left:-31px;
    margin-right:-31px;
    overflow: hidden;

    &-card {

        &-link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            text-decoration: none;   
        }
        &__image {
            height: 200px;
            width: 200px;
            object-fit: cover; /* remplit le cadre sans déformer */
            object-position: center;
            border-radius: 200px;
            border: 2px solid green;
        }
        &__name {
            font-size: 36px;
            font-weight: 400;
            color: #D3573C;
            text-align: center;
            margin: 0px;
            margin-top: 20px;
        }
        &__info {
            text-align: center; 
            .photographer-card__location {
                color: #901C1C;
                //Pour l'aspect accessibilité augmentation de la taille du texte
                //font-size: 13px;
                font-size: 18px;
                font-weight: 400;
                margin:0px;
            }
            .photographer-card__tagline {
                color: #000000; 
                //Pour l'aspect accessibilité augmentation de la taille du texte
                //font-size: 10px;
                font-size: 16px;
                font-weight: 400;
                margin:3px;
            }
            .photographer-card__price {
                color: #757575;
                //Pour l'aspect accessibilité augmentation de la taille du texte
                //font-size: 9px;
                font-size: 15px;
                font-weight: 800;
                margin:3px;
            }

        }

    }
}